body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1A1A2E;
    padding: 10px;
}

.container {
    text-align: center;
    background-color: #3c7660;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.main-title {
    font-family: 'Papyrus', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#randomWord {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

#wordDetails {
    font-size: 14px;
    color: #555;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    color: white;
    margin: 0;
}
