body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1A1A2E;
    padding: 10px;
    color: white;
}

.container {
    text-align: center;
    background-color: #3c7660;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.main-title {
    font-family: 'Papyrus', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.menu h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #eee;
}

.menu-button {
    display: block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
    max-width: 250px;
    text-align: center;
}

.menu-button:hover {
    background-color: #0056b3;
}

.menu-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    color: white;
    margin: 0;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

form input, form select, form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.save-button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.save-button:hover {
    background-color: #218838;
}

.menu-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #0056b3;
}
