body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1A1A2E;
    padding: 10px;
}

.container {
    text-align: center;
    background-color: #3c7660;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.main-title {
    font-family: 'Papyrus', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Buttons Style */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* Buttons sollen die volle Breite ausfüllen */
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Menü-Sektion */
.menu-section {
    margin: 20px 0;
}

.menu-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

#randomWord {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

#wordDetails {
    font-size: 14px;
    color: #555;
}

/* Footer */
footer {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    color: white;
    margin: 0;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button {
    margin-top: 10px;
}

.modal-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.modal-close:hover {
    color: black;
}
